<main>
  @switch(currentView)
  {
    @case('list') {
    <div class="modal-container"></div>
    } @case('new') {
    <div class="modal-container">
      <div class="modal-content">
        <h2>Cadastrar Produto</h2>
        <form>
          <div class="form-group">
            <label for="name">Nome</label>
            <input type="text" [(ngModel)]="name" id="name" name="name" class="form-control"
              placeholder="Nome do produto">
          </div>
          <div class="form-group">
            <label for="description">Descrição</label>
            <textarea id="description" [(ngModel)]="description" name="description" class="form-control"
              placeholder="Uma breve descrição do produto"></textarea>
          </div>
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="price">Preço (R$)</label>
              <input type="number" [(ngModel)]="price" name="price" id="price" class="form-control" placeholder="0">
            </div>
            <div class="form-group col-md-6">
              <label for="category">Categoria</label>
              <input type="text" id="categoryString" *ngIf="!categorySelect" [(ngModel)]="categoryString" name="category" class="form-control"
              placeholder="Escreva a categoria">
              <select id="category" *ngIf="categorySelect" [(ngModel)]="category" name="category" class="form-control">
                <option value="" disabled selected>Selecionar...</option>
                <option *ngFor="let cat of categories" [value]="cat">{{ cat }}</option>
              </select>              
              <i class="fa-solid fa-plus"  *ngIf="categorySelect" (click)="addCategory()"></i>
              <i class="fa-solid fa-list"  *ngIf="!categorySelect" (click)="addCategory()"></i>
            </div>
          </div>
          <div class="form-group">
            <label for="imageUrl">Arquivo Imagem</label>
            <input type="text" id="imageUrl" class="form-control" placeholder="https://example.com/image.jpg">
          </div>
          <div *ngIf="alreadyExist">
            Produto já existente! Edite o atual ou substitua o existente.
          </div>
          <button type="submit" (click)="saveProduct()" class="btn btn-primary btn-block">Cadastrar</button>          
          <button type="submit" *ngIf="alreadyExist" (click)="replaceProduct()" style="margin-left: 30px;" class="btn btn-primary btn-block">Substituir</button>
        </form>
      </div>
    </div>
  }
}

</main>