.item-card {
  border: 1px solid #ddd;
  padding: 4px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  gap: 10px; /* Espaço entre imagem e texto */
  margin-bottom: 10px; /* Espaço entre itens */

  .item-name {
    font-weight: bold;
    font-size: 1.2rem;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 1px;
    color: #333333;
  }

  .item-image {
    max-width: 70px;
    max-height: 70px;
    background: 50% 50% no-repeat;
    border-radius: 4px;
    background-color: #bf4e4b; // Cor vermelha do Bootstrap
  }

  .item-description {
    font-size: 0.9rem;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #acacac; // Cor cinza para descrição
    line-height: 1.2;
  }

  .item-price {
    font-size: 1rem;
    font-weight: bold;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;    
    color: #333333;
  }

  .item-info {
    display: flex;
    flex-direction: column; 
  }

  .btn-circle {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #dc3545; // vermelho do f2d
    color: #fff;
    font-size: 1.2rem;

    &:hover {
      background-color: #aa3939; // vermelho + escuro
    }
  }
}




