.item-card {
  border: 1px solid #ddd;
  padding: 10px;
  border-radius: 8px;

  .item-image {
    width: 100%;
    height: 100px;
    border-radius: 8px;
    background-color: #bf4e4b; // Cor vermelha do Bootstrap
  }

  .item-price {
    font-size: 1rem;
    font-weight: bold;
    color: #000;
  }

  .btn-circle {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #dc3545; // Cor vermelha
    color: #fff;
    font-size: 1.2rem;

    &:hover {
      background-color: #bb2d3b; // Vermelho mais escuro
    }
  }
}

.item-name {
  font-weight: bold;
  font-size: 1.2rem;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  padding: 2px;
  color: #000;
}

.item-description {
  font-size: 0.9rem;
  color: #6c757d; // Cor cinza para descrição
  line-height: 1.2;
}
