<app-header></app-header>
<main>
  <p>ADFDFDFDFDFDFDFDFDFDFDFDFDF</p>
  <div>aaaaaaaaaa</div>
  <div class="col-6" *ngFor="let item of items">
    <div class="card item-card">     
      
      
        <img class="item-image" id="imageItem" [src]="item.image" alt="cuuuu">
        <div class="item-info">
          <p class="item-name"> {{ item.name }} </p> 
          <p class="item-description"> {{ item.description }} </p> 
          <p class="item-price"> R$ {{ item.price }} </p> 
          <i class="fa-solid fa-cart-shopping"></i>        
      </div>
    </div>
  </div>  
</main>
<script src="https://kit.fontawesome.com/5766567a39.js" crossorigin="anonymous"></script>