<app-header></app-header>
<main>
  <div class="container">
    <p>ADFDFDFDFDFDFDFDFDFDFDFDFDF</p>
    <div>aaaaaaaaaa</div>
    <div class="row">
      <div class="col-md-6">
        <div *ngFor="let item of items">
          <div class="item-card display-flex">
            <img class="item-image" id="imageItem" [src]="item.image" alt="cuuuu"
              [ngStyle]="{'width.px': 120, 'heigth.px': 120}">
            <div class="item-info">
              <p class="item-name" style="margin-top: 6px;"> {{ item.name }} </p>
              <p class="item-description"> {{ item.description }} </p>
              <p class="item-price"> R$ {{ item.price }} <button class="btn-cart float-right"
                  (click)="addToCart(item, true)">$</button> </p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6 cart">
        <div *ngIf="orderItens; else orderDetails">
          <p>Total: {{totalPrice}} <button class="btn-cart ml-7" *ngIf="cart.length" (click)="sendOrder()"> Enviar Pedido </button></p>
          Itens: <span>{{cart.length}}</span>
          <div *ngFor="let shop of cart">
            <p>{{shop.name}}
              <button class="btn-cart float-right" (click)="addToCart(shop, false)"> - </button>
              ({{shop.quantity}})
              <button class="btn-cart float-right" (click)="addToCart(shop, true)"> + </button>
            </p>
          </div>
        </div>
        <ng-template #orderDetails>
          <div>
            <p> Quase pronto! </p>
            <p> Confirme o escritório de entrega: </p>
            <div *ngFor="let office of offices">
              <input type="radio" name="offices" [value]="+office.id" [(ngModel)]="selectedOffice">
              {{office.number}} / Andar: {{office.floor}}
            </div>
            <br> 
            <p class="mt-3"> Horario: </p>
            <input type="checkbox" [disabled]="deliverySchedule" [(ngModel)]="deliveryNow"> Enviar agora
            <br>            
            <input type="checkbox" [disabled]="deliveryNow" [(ngModel)]="deliverySchedule">
            Agendar Horario:
            <input type="time" [disabled]="deliveryNow" min="09:00:00" max="18:00:00" [(ngModel)]="deliveryTime">
            <br>
            <button class="mt-3" (click)="confirmOrder()"> Confirmar Pedido! </button>
          </div>
        </ng-template>
        <ng-template #orderSent>
          <div>
            <p> Pedido enviado! </p>
            <p> Previsão de entrega: </p>
            <button (click)="newOrder()"> Fazer novo pedido </button> 
            <button (click)="goToOrderStatus()"> Acompanhar status do pedido </button>
          </div>
        </ng-template>
      </div>      
    </div>
  </div>
</main>
<script src="https://kit.fontawesome.com/5766567a39.js" crossorigin="anonymous"></script>