<app-header></app-header>
<main>
  <div class="container">
    <p>ADFDFDFDFDFDFDFDFDFDFDFDFDF</p>
    <div>aaaaaaaaaa</div>
    <div class="row">
      <div class="col-md-6">
        <div *ngFor="let item of items">
          <div class="item-card display-flex">
            <img class="item-image" id="imageItem" [src]="item.image" alt="cuuuu"
              [ngStyle]="{'width.px': 120, 'heigth.px': 120}">
            <div class="item-info">
              <p class="item-name" style="margin-top: 6px;"> {{ item.name }} </p>
              <p class="item-description"> {{ item.description }} </p>
              <p class="item-price"> R$ {{ item.price }}
                <i class="fa-solid fa-cart-shopping" style="color: f2d-red" (click)="addToCart(item, true)"></i>
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4 cart">

        <div *ngIf="orderItens">


          <div class="flex-container">
            <div>Total: {{totalPrice}}</div>
            <div>
              <button class="btn-send-order" *ngIf="cart.length" (click)="sendOrder()">Enviar Pedido</button>
            </div>
          </div>

          Itens: <span>{{cart.length}}</span>


          <div *ngFor="let shop of cart" class="shop-item">
            <div class="shop-name">{{ shop.name }}</div>
            <div class="shop-controls">
              <i class="fa-solid fa-minus f2d-red" (click)="addToCart(shop, false)"></i>
              <span class="quantity">{{ shop.quantity }}</span>
              <i class="fa-solid fa-plus f2d-red" (click)="addToCart(shop, true)"></i>
            </div>
          </div>


        </div>
        <div *ngIf="orderDetails">
          <div>
            <p> Quase pronto! </p>
            <p> Confirme o escritório de entrega: </p>
            <div *ngFor="let office of offices">
              <input type="radio" name="offices" [value]="+office.id" [(ngModel)]="selectedOffice">
              {{office.number}} / Andar: {{office.floor}}
            </div>
            <br>
            <p class="mt-3"> Horario: </p>
            <input type="checkbox" [disabled]="deliverySchedule" [(ngModel)]="deliveryNow"> Enviar agora
            <br>
            <input type="checkbox" [disabled]="deliveryNow" [(ngModel)]="deliverySchedule">
            Agendar Horario:
            <input type="time" [disabled]="deliveryNow" min="09:00:00" max="18:00:00" [(ngModel)]="deliveryTime">
            <br>
            <button class="red-btn mt-3" (click)="confirmOrder()"> Confirmar Pedido! </button>
          </div>
        </div>
        <div *ngIf="orderSent">
          <p> Pedido enviado! </p>
          <p> Previsão de entrega: </p>
          <button (click)="newOrder()"> Fazer novo pedido </button>
          <button (click)="goToOrderStatus()"> Acompanhar status do pedido </button>
        </div>
      </div>
    </div>
  </div>
</main>
<script src="https://kit.fontawesome.com/5766567a39.js" crossorigin="anonymous"></script>