.order-details {
    margin-top: 3px;
    display: flex; // Coloca os itens na mesma linha
    align-items: center; // Alinha os ícones verticalmente com o texto
    gap: 3rem; // Espaçamento horizontal entre os itens (ajuste conforme necessário)
  }

  .space {
    margin-left: 3rem; // Adiciona um grande espaço antes do segundo elemento
  }
  
  