.login-container {
    height: 100vh;
    background-color: #aa3939;
    // background: linear-gradient(135deg, #dc3545, #6c63ff);
  }

  
.link{
  cursor: pointer;
}

.sm{
  font-size: small;
}

.red-dark{
  color: #aa3939;
}

.btn-red-negative{
  width: 100%;
  max-width: 400px;
  border-radius: 25px;
  font-weight: 500;
  background-color: #fff;
  border-color: #aa3939;
  color: #aa3939;
  height: 35px;

  &:hover{
    background-color: #aa3939;
    color: #fff;
  }
}

  .login-card {
    width: 100%;
    max-width: 400px;
    background-color: #fff;
    border-radius: 15px;
  
    h3 {
      color: #333;
    }
  
    .form-label {
      font-weight: 500;
    }
  
    .input-group-text {
      background-color: #f1f1f1;
    }
  
    .btn-primary {
      border-radius: 25px;
      background-color: forestgreen;
    }
  }
  