<main class="container my-4">
    <div class="row g-3">
        <div class="col-md-4" *ngFor="let day of weekDays">
            <div class="days-card h-100 d-flex flex-column justify-content-between">
                <div>
                    <h5 class="fw-bold">{{ day }}</h5>

                    <ul *ngIf="lunchMenu[day].length > 0 && !editMode[day]" class="list-unstyled mb-2">
                        <li *ngFor="let dish of lunchMenu[day]">
                            🍽️ {{ dish.name }} ({{ dish.quantity }})
                        </li>
                    </ul>

                    <div *ngIf="editMode[day] && lunchMenu[day].length > 0">
                        <div *ngFor="let dish of lunchMenu[day]; let i = index" class="mb-2">
                            <hr style="color: black;">
                            <input type="text" class="form-control form-control-sm mb-1" [(ngModel)]="dish.name"
                                placeholder="Nome do prato" />
                            <div class="d-flex align-items-center gap-2">
                                <input type="number" class="form-control form-control-sm flex-grow-1 w-50"
                                    [(ngModel)]="dish.quantity" placeholder="Quantidade" />

                                <button class="btn btn-sm btn-outline-danger" (click)="removeDish(day, i)">
                                    <i class="fa-solid fa-trash"></i>
                                </button>

                            </div>
                            
                        </div>
                    </div>

                    <p *ngIf="lunchMenu[day].length === 0" class="text-muted">Nenhum prato cadastrado ainda.</p>

                </div>

                <div class="text-end">
                    <button class="btn btn-sm btn-outline-primary me-2 add-button" (click)="addDish(day)" *ngIf="editMode[day]">
                        <i class="fa-solid fa-plus"></i>
                    </button>

                    <button class="btn btn-sm btn-outline-success save-button" *ngIf="editMode[day]"
                        (click)="toggleEditMode(day)">
                        <i class="fa-solid fa-check"></i>
                    </button>

                    <button class="btn btn-sm btn-outline-primary edit-button" *ngIf="!editMode[day]"
                        (click)="toggleEditMode(day)">
                        <i class="fa-solid fa-pen-to-square"></i>
                    </button>

                </div>
            </div>
        </div>
    </div>
</main>