<app-header></app-header>
<main>
    <div class="mt-3"></div>
    <div class="row justify-content-center mb-3">
        <div class="col-md-6 text-center">
            <h1>Sexta-feira</h1>
            <span>Escolha entre as nossas opções do dia! O almoço começa a ser servido a partir das 12h</span>
        </div>
    </div>
    <div class="row justify-content-center">
        <!-- Parte esquerda: Lista de opções -->
        <div class="col-md-3">
            <div *ngFor="let dish of dailyDishes; let i = index" class="card mb-3 px-3 py-2 shadow-sm">
                <div class="card-body d-flex justify-content-between align-items-start">
                    <div class="form-check me-2">
                        <input class="form-check-input" type="checkbox" [checked]="selectedDishIndex === i"
                            (change)="selectDish(i)" />
                    </div>
                    <div class="flex-grow-1">
                        <h5 class="card-title mb-1">{{ dish.name }}</h5>
                        <p class="mb-1 text-muted">{{ dish.description }}</p>
                        <p class="fw-semibold mb-0">R$ {{ dish.price.toFixed(2) }}</p>
                    </div>
                </div>
            </div>
        </div>
        <!-- Parte direita (ainda vazia) -->
        <div class="card col-md-3 shadow-sm p-3">
            <div *ngIf="!confirmation">
                <h5 class="mb-3">Resumo do Pedido</h5>

                <div *ngIf="selectedDishIndex !== null; else noSelection">
                    <p><strong>Prato:</strong> {{ dailyDishes[selectedDishIndex].name }}</p>
                    <p><strong>Valor:</strong> R$ {{ dailyDishes[selectedDishIndex].price.toFixed(2) }}</p>
                    <div class="mt-3">
                        <label class="form-label"><strong>Forma de Consumo:</strong></label>
                        <div>
                            <input class="form-check-input mx-2" type="radio" id="optionEntrega" name="consumption"
                                value="entrega" [(ngModel)]="consumptionType" />
                            <label class="form-check-label" for="optionEntrega">Entrega</label>

                            <input class="form-check-input ms-4 me-2" type="radio" id="optionLocal" name="consumption"
                                value="local" [(ngModel)]="consumptionType" (change)="cleanOfficeOption()"/>
                            <label class="form-check-label" for="optionLocal">Comer no local</label>
                        </div>
                    </div>
                    <div class="mt-3">
                        <label class="form-label"><strong>Local de entrega:</strong></label>
                        <div *ngFor="let office of user.offices" class="form-check mb-2">
                            <input type="radio" class="form-check-input" name="offices" [value]="office" [disabled]="consumptionType == 'local'"
                                [(ngModel)]="selectedOffice"/>
                            <label class="form-check-label">
                                <strong>{{ office.number }}</strong>
                                <span class="text-muted fst-italic"> ({{ office.floor }}° andar)</span>
                            </label>
                        </div>
                    </div>
                    <div>
                        <button [disabled]="!consumptionType" class="btn btn-success mt-3 w-100"
                            (click)="sendOrder(selectedDishIndex)">Confirmar</button>
                    </div>
                </div>
            </div>
            <div *ngIf="confirmation" class="container">
                <p class="text-success fw-bold fs-5 mb-3  justify-content-center">
                    <i class="fa-solid fa-circle-check me-2"></i>Pedido enviado!
                </p>
            </div>
            <ng-template #noSelection>
                <p class="text-muted">Nenhuma opção selecionada</p>
            </ng-template>
        </div>
    </div>



</main>