<app-header></app-header>
<main>
    <div class="container content-wrapper">
        <div class="header">
            <h3 class="p-3"> Controle de Almoços 
            </h3>
        </div>
        <!-- TODO: TA BUGADO A LISTAAAAAAAA -->
        <!-- Abas de seleção -->
        <!-- <div class="tab-selector d-flex justify-content-center gap-3 mb-4">
            <button class="btn"
                [ngClass]="{'btn-primary': selectedTab === 'local', 'btn-outline-primary': selectedTab !== 'local'}"
                (click)="selectedTab = 'local'">
                Consumo no Local
            </button>

            <button class="btn"
                [ngClass]="{'btn-primary': selectedTab === 'delivery', 'btn-outline-primary': selectedTab !== 'delivery'}"
                (click)="selectedTab = 'delivery'">
                Delivery no Escritório
            </button>
        </div> -->
        <!-- COLUNA: LOCAL -->
        <div class="row">
            <div class="col-12 col-md-6 orders-card px-3">
                <h4>Consumo no Local <span class="badge badge-neworder ms-2">{{ lunchList.length }}</span></h4>
                <div *ngFor="let item of lunchList" class="order-item">
                    <div class="order-header">
                        <h6>#{{ item.code }}</h6>
                        <div class="order-icons">
                            <i class="fa-solid fa-circle-check order-check" (click)="updateOrderStatus(item)"></i>
                        </div>
                    </div>
                    <div>
                        <strong>{{ item.userName }}</strong><br>
                            <span *ngFor="let product of item.cart"> {{ product.name }} </span> - R${{ item.totalCharge }}
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 orders-card px-3">
                <h4>Retirados <span class="badge badge-completed ms-2">{{ lunchCompleted.length }}</span></h4>

                <div *ngFor="let item of lunchCompleted" class="order-item">
                    <div class="order-header">
                        <h6>#{{ item.code }}</h6>
                    </div>
                    <div>
                        <strong>{{ item.userName }}</strong><br>
                        <span *ngFor="let product of item.cart"> {{ product.name }} </span> - R${{ item.totalCharge }}
                    </div>
                </div>
            </div>
        </div>   
    </div>
</main>