@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap');

.orders-card {
    border: 1px solid #ddd;
    padding: 4px;
    border-radius: 8px;
    display: flex;
}

.btn-order{
    border-color: #bf4e4b;    
    border-radius: 8px;
    color: #bf4e4b;
    background-color: hsl(0, 0%, 100%);
    font-weight: bold;
    width: auto;
    height: 40px;

    &:hover {
        background-color: hsl(0, 0%, 89%); // vermelho + escuro]
      }
}

.btn-status{
    border-color: #009e15;    
    border-radius: 8px;
    color: #009e15;
    background-color: hsl(0, 0%, 100%);
    margin-right: 8px;
}

.status{
    background-color: #ddd;
    border-radius: 8px;
    height: 30px;
    width: 130px;
    margin-top: 8px;
    align-items: center !important;
    border: none;
}
//novos:
html {
    font-family: 'Inter', system-ui, sans-serif;
}

.btn-swipe-column {
    float: right;
    border: 1px solid #e1e7ef;
    cursor: pointer;
    background-color: #f8fafc;
    font-family: 'Inter', system-ui, sans-serif;
    border-radius: 0.8rem;
    color: black;
    width: 196  px;
    transition: background-color 0.3s, border-color 0.3s; 
}

.btn-swipe-column:hover {
    background-color: #cfd6df; 
    border-color: #d9dadb;    
    color: rgb(59, 59, 59); 
}


// .two-columns
// {}