@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap');


.row.orders-container {
    gap: 12px; // Espaçamento entre as colunas
}

.orders-card {
    border: 1px solid #ddd; // Borda fina e discreta
    padding: 8px;
    border-radius: 8px;
    background-color: #ffffff;


    &:hover {
        transition: linearx;
        box-shadow: 0px 1px 5px 1px #f1f1f1;
    }
}

.header {
    border-bottom: 1px solid #ddd;
    margin-bottom: 8px;
    width: 100%;
}


.btn-order {
    border-color: #bf4e4b;
    border-radius: 8px;
    color: #bf4e4b;
    background-color: hsl(0, 0%, 100%);
    font-weight: bold;
    width: auto;
    height: 40px;

    &:hover {
        background-color: hsl(0, 0%, 89%); // vermelho + escuro]
    }
}

.btn-status {
    border-color: #009e15;
    border-radius: 8px;
    color: #009e15;
    background-color: hsl(0, 0%, 100%);
    margin-right: 8px;
}

.status {
    background-color: #ddd;
    border-radius: 8px;
    height: 30px;
    width: 130px;
    margin-top: 8px;
    align-items: center !important;
    border: none;
}

//novos:
html {
    font-family: 'Inter', system-ui, sans-serif;
}

.btn-swipe-column {
    float: right;
    border: 1px solid #e1e7ef;
    cursor: pointer;
    background-color: #f8fafc;
    font-family: 'Inter', system-ui, sans-serif;
    border-radius: 0.8rem;
    color: black;
    min-width: 196px;
    transition: background-color 0.3s, border-color 0.3s;
}

.btn-swipe-column:hover {
    background-color: #cfd6df;
    border-color: #d9dadb;
    color: rgb(59, 59, 59);
}

h4 {
    display: flex;
    align-items: center;

    .badge{
        border-radius: 3rem;
        display: inline-flex;
        align-items: center;
        gap: 0.4rem;
        padding: 0.15rem 0.75rem;
        font-size: 0.8rem;
        font-weight: 500;
        cursor: default;
        transition: background-color 0.2s ease-in-out;
        margin-top: 4px;
        margin-left: 4px;
    }

    .badge-neworder {
        color: #3662dd;
        background-color: #eff6ff;
        border: 1px solid #c6dffe;
    }

    .badge-delivery {
        color: #bd9f00;
        background-color: #f8ffb9;
        border: 1px solid #dcbd69;
    }

    .badge-completed {
        color: #009300;
        background-color: #daffdf;
        border: 1px solid #82ce7d;
    }
}



.badge-button {
    display: inline-flex;
    align-items: center;
    gap: 0.4rem;
    padding: 0.15rem 0.75rem;
    font-size: 0.8rem;
    font-weight: 500;
    border-radius: 3rem;
    border: none;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
}

.order-item {
    border: 1px solid #ccc; // Borda fina
    border-radius: 6px; // Cantos arredondados
    padding: 6px 10px; // Espaçamento interno
    margin-bottom: 8px; // Espaço entre os cards
    background-color: #f8f9fa; // Cor de fundo suave          // Para organizar elementos internos
    align-items: center; // Centraliza os itens verticalmente
    justify-content: space-between; // Espaço entre elementos
    align-items: start;
    display: flex;
    flex-direction: column;

    &:hover {
        transition: linearx;
        box-shadow: 0px 2px 5px 2px #d8d8d8;
    }

    // Ícone ou botão dentro do card
    .order-actions {
        font-size: 18px;
        color: #666;
        cursor: pointer;
        display: flex;
        justify-content: space-between;
        width: 100%;
    }

    .order-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%; // para ocupar toda a linha do card
        margin-bottom: 8px;

        .order-title {
            font-weight: bold;
        }

        .order-icons {
            display: flex;
            gap: 8px;

            i {
                cursor: pointer;
                font-size: 18px;

                &:hover {
                    color: #656565; // destaque no hover, se quiser
                }
            }
        }
    }

}

.order-code {
    font-size: smaller;
}

.order-check {
    color: #009e15;
}

.order-delivery {
    color: #ff9f45;
}