<app-header></app-header>
<main>
    <div class="container">
        
            
                <h2 class="mb-3">Gerenciador de Pedidos</h2>
                <button class="btn btn-secondary mb-3" (click)="showThirdColumn = !showThirdColumn" id="toggleConcluded">Mostrar Concluídos</button>
                
                <div class="row">
                    <div class="col-12 col-md" [ngClass]="{'col-md-6': !showThirdColumn, 'col-md-4': showThirdColumn}">
                        <h4>Novos Pedidos</h4>
                        <div id="newOrders">
                            <!-- Pedidos novos aqui -->
                        </div>
                    </div>
                    <div class="col-md-4" [ngClass]="{'col-md-6': !showThirdColumn, 'col-md-4': showThirdColumn}">
                        <h4>Em Entrega</h4>
                        <div id="inDelivery">
                            <!-- Pedidos em entrega aqui -->
                        </div>
                    </div>
                    <div class="col-12 col-md-4" *ngIf="showThirdColumn" id="concludedColumn"  style="display: none;">
                        <h4>Concluídos???????</h4>
                        <div id="concludedOrders">
                            <!-- Pedidos concluídos aqui -->
                        </div>
                    </div>
                </div>
        
    </div>
</main>