.btn-round {
    border: none;
    border-radius: 50%;
}

.table-round-corner {
    margin-top: 15px;
    width: 100%;
    text-align: center;
    overflow:hidden;
    border-collapse:separate;
    border: solid #ccc 1px;
    -webkit-border-radius: 25px;
       -moz-border-radius: 25px;
            border-radius: 25px;
}

.btn-filter{
    background-color: #3a8556;
    border: none;
}

.btn-clean{
    background-color: #bf4e4b;
    border: none;
}

.btn-filter-outline{
    background-color: white;
    color: #bf4e4b;
    border-color: #bf4e4b;
}

.tab-product{
    color:#a2a2a2;
    font-weight: bold;

}