<app-header></app-header>
<main>
  <div class="container mt-4">
    <h2 class="mb-3"><i class="fa-solid fa-burger me-2"></i>Gerenciar Produtos</h2>
    <!-- Nav Tabs -->
    <ul class="nav nav-tabs mb-4" role="tablist">
      <li class="nav-item" role="presentation">
        <button class="nav-link tab-product active" data-bs-toggle="tab" data-bs-target="#productList" type="button"
          role="tab">
          Lista de Produtos
        </button>
      </li>
      <li class="nav-item" role="presentation">
        <button class="nav-link tab-product" data-bs-toggle="tab" data-bs-target="#addProduct" type="button" role="tab">
          Cadastrar Produto
        </button>
      </li>
      <li class="nav-item" role="presentation">
        <button class="nav-link tab-product" data-bs-toggle="tab" data-bs-target="#almoco" type="button" role="tab">
          Gerenciar Almoço
        </button>
      </li>
    </ul>

    <!-- Tab Content -->
    <div class="tab-content">
      <!-- Product List Tab -->
      <div class="tab-pane fade show active" id="productList" role="tabpanel">
        <div class="mb-3 d-flex align-items-center gap-2">
          <!-- Campo de busca ocupa mais espaço -->
          <input type="text" class="form-control flex-grow-1" placeholder="Buscar por nome..." [(ngModel)]="searchTerm"
            (input)="applyFilters()" />

          <!-- Botão de atualizar -->
          <button class="btn btn-filter-outline" (click)="updateList()">
            <i class="fa-solid fa-rotate-right m-1"></i>
          </button>

          <!-- Botão de filtro -->
          <button class="btn btn-filter-outline" (click)="filterShow = !filterShow" style="width: 110px;">
            Filtros
            <i class="fa-solid ms-1" [class.fa-caret-down]="!filterShow" [class.fa-caret-up]="filterShow"></i>
          </button>
        </div>
        <div class="row mb-3" *ngIf="filterShow">
          <div class="col-md-3">
            <select class="form-select" [(ngModel)]="filterStatus">
              <option value="">Todos os status</option>
              <option value="1">Ativo</option>
              <option value="0">Inativo</option>
            </select>
          </div>
          <div class="col-md-3">
            <select class="form-select" [(ngModel)]="filterCategory">
              <option value="">Todas as categorias</option>
              <option *ngFor="let category of categories" [value]="category">{{ category }}</option>
            </select>
          </div>
          <div class="col-md-2">
            <input type="number" class="form-control" placeholder="Preço mín." [(ngModel)]="minPrice" />
          </div>
          <div class="col-md-2">
            <input type="number" class="form-control" placeholder="Preço máx." [(ngModel)]="maxPrice" />
          </div>
          <div class="col-md-1 d-flex">
            <button class="btn btn-primary btn-filter w-100" (click)="applyFilters()">
              <span class="d-none d-lg-inline">Filtrar</span>
              <i class="fa-solid fa-magnifying-glass d-lg-none"></i>
            </button>
          </div>

          <div class="col-md-1 d-flex">
            <button class="btn btn-primary btn-clean w-100" (click)="cleanFilters()">
              <span class="d-none d-lg-inline">Limpar</span>
              <i class="fa-solid fa-trash d-lg-none"></i>
            </button>
          </div>

        </div>
        <div class="table-responsive rounded">
          <table class="table table-bordered align-middle">
            <thead class="table-light">
              <tr class="text-center">
                <th>Imagem</th>
                <th>Nome</th>
                <th>Descrição</th>
                <th>Categoria</th>
                <th>Preço</th>
                <th>Status</th>
                <th>Ações</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let product of filteredProducts">
                <!-- <td class="text-center">
                  <img [src]="product.image" alt="{{ product.name }}" class="img-thumbnail"
                    style="width: 60px; height: 60px; object-fit: cover;">
                </td> -->
                <td class="text-center"><img class="product-image" id="imageItem" [src]="product.imageUrl" alt="img"
                    [ngStyle]="{'width.px': 40, 'heigth.px': 40}"></td>
                <td><strong>{{ product.name }}</strong></td>
                <td>{{ product.description }}</td>
                <td class="text-center">{{ product.category }}</td>
                <td class="text-center">{{ product.price | currency:'BRL':'symbol' }}</td>
                <td class="text-center">
                  <span class="badge bg-success"
                    *ngIf="product.status === 1 || product.status === 'Active'">Ativo</span>
                  <span class="badge bg-secondary"
                    *ngIf="product.status !== 1 && product.status !== 'Active'">Inativo</span>
                </td>
                <td class="text-center">
                  <button class="btn btn-sm btn-outline-edit me-1 btn-round" title="Edit"
                    (click)="openEditModal(product)">
                    <i class="fa fa-pen"></i>
                  </button>

                  <button class="btn btn-sm btn-outline-danger me-1 btn-round" title="Delete"
                    (click)="prepareDelete(product.id)" data-bs-toggle="modal" data-bs-target="#confirmDeleteModal">
                    <i class="fa fa-trash"></i>
                  </button>

                  <button class="btn btn-sm btn-outline-success btn-round" title="Toggle Status"
                    (click)="changeProductStatus(product.id)">
                    <i class="fa fa-power-off"></i>
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>

      </div>

      <!-- Add Product Tab -->
      <div class="tab-pane fade" id="addProduct" role="tabpanel">
        <app-product-register></app-product-register>
      </div>

      <!-- Almoço Tab -->
      <div class="tab-pane fade" id="almoco" role="tabpanel">
        <app-product-lunch></app-product-lunch>
      </div>
    </div>
  </div>


  <!-- Modal de Confirmação -->
  <div #confirmDeleteModal class="modal fade" id="confirmDeleteModal" tabindex="-1" aria-labelledby="confirmDeleteLabel"
    aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">

        <div class="modal-header">
          <h5 class="modal-title" id="confirmDeleteLabel">Confirmar Exclusão</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
        </div>

        <div class="modal-body">
          Tem certeza que deseja excluir este produto?
        </div>

        <div class="modal-footer">
          <button class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
          <button class="btn btn-danger" (click)="confirmDelete()">Excluir</button>
        </div>

      </div>
    </div>
  </div>

  <!-- Edit Product Modal -->
  <div class="modal fade" id="editProductModal" tabindex="-1" aria-labelledby="editProductModalLabel" aria-hidden="true"
    #editProductModal>
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="editProductModalLabel">Editar Produto</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Fechar"></button>
        </div>
        <div class="modal-body">
          <form>
            <div class="mb-3">
              <label class="form-label">Nome</label>
              <input type="text" class="form-control" [(ngModel)]="product.name" name="name">
            </div>
            <div class="mb-3">
              <label class="form-label">Descrição</label>
              <textarea class="form-control" [(ngModel)]="product.description" name="description"></textarea>
            </div>
            <div class="mb-3">
              <label class="form-label">Categoria</label>
              <input type="text" class="form-control" [(ngModel)]="product.category" name="category">
            </div>
            <div class="mb-3">
              <label class="form-label">Preço</label>
              <input type="number" class="form-control" [(ngModel)]="product.price" name="price" step="0.01">
            </div>
            <div class="mb-3">
              <label class="form-label">Status</label>
              <select class="form-select" [(ngModel)]="product.status" name="status">
                <option [value]="1">Ativo</option>
                <option [value]="0">Inativo</option>
              </select>
            </div>
            <div class="form-group mb-3 col-12">
              <label style="margin-bottom: 1%;" for="imageUrl">Arquivo Imagem</label>
              <input type="file" #fileInput id="imageUrl" class="form-control" (change)="uploadSupabase($event)">
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
          <button type="button" class="btn btn-success" (click)="updateProduct()">Salvar</button>
        </div>
      </div>
    </div>
  </div>


</main>