/* You can add global styles to this file, and also import other style files */
.f2d-red {
    color: #bf4e4b;
}

.f2d-yello {
    color: #ffe497;
}

.red-btn {
    background-color: #bf4e4b;
    color: white;
    border-radius: 20%;
}