header {
    display: flex;
    padding-inline: 16px;
    padding-block: 3px;
    background-color: #bf4e4b;
    align-items: center;
    justify-content: center;   
    font-weight: bold;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

img {
max-width: 130px;
}

.icons {
    cursor: pointer;
    color: #ffe497;
    &:hover{
        color:rgb(255, 205, 68);
    }
}