header {
    display: flex;
    padding-inline: 16px;
    padding-block: 10px;
    background-color: #bf4e4b;
    color: #ffe497;
    align-items: center;
    justify-content: center;
    font-size: 2.5rem;
    font-weight: bold;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}